.box {
  background: white;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 0 20px rgba(61, 0, 130, 0.54);
  display: inline-block;
  width: 300px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.date {
  width: 80px;
  background: #3498db;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

.content {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

h2 {
  margin: 0;
  padding: 5px 0;
}

h2:last-child {
  color: #fe1900;
  font-weight: bold;
}
